html {
	width: 100%;
}
body {
	width: 100%;
	margin: 0 auto;
	font-family: VT323, sans-serif;
	font-size: 14px;
/*	overflow: hidden;
*/	background: url('trippybg5.gif');
}
div {
	border: 1px solid #000;
}
header {
	color: rgba(0,240,0,0.8);
	text-align:center;
	padding: 5px 0 5px 0;
	font-size: 8em;
	position: absolute;
	top: 0;
	width: 100%;
	-webkit-text-stroke: 2px #0f0;
	text-shadow: 0px 0px 35px #000;
}
#wrapper {
	width: 456px;
	height: 600px;
	margin: 125px auto 0px auto;
	border: 0px;
}
.box {
	width: 150px;
	height: 130px;
	outline: 1px solid #000;
	float: left;
	text-align: center;
	font-size: 8em;
	padding-top: 20px;
	background-color: rgba(255,255,255,0.9);
}
.xbox {
	width: 150px;
	height: 130px;
	outline: 1px solid #000;
	float: left;
	text-align: center;
	font-size: 8em;
	padding-top: 20px;
	background: url('x.png');
	background-size: cover;
	pointer-events: none;
	-webkit-transition: background 300ms ease-in 200ms;
    -moz-transition: background 300ms ease-in 200ms;
    -o-transition: background 300ms ease-in 200ms;
    transition: background 300ms ease-in 200ms;
}
.obox {
	width: 150px;
	height: 130px;
	outline: 1px solid #000;
	float: left;
	text-align: center;
	font-size: 8em;
	padding-top: 20px;
	background: url('o.png');
	background-size: cover;
	pointer-events: none;
	-webkit-transition: background 300ms ease-in 200ms;
    -moz-transition: background 300ms ease-in 200ms;
    -o-transition: background 300ms ease-in 200ms;
    transition: background 300ms ease-in 200ms;

}
.winbox {
/*	display: none;
*/	width: 456px;
	height: 456px;
	background: url('binary1.gif');
/*	background-size: cover;
*/	color: #fff;
	text-shadow: 0px 0px 55px #000;
	text-align: center;
	font-size: 10em;
	margin: 0 auto;
	position: absolute;
	z-index: 1;
	box-shadow: 0px 0px 55px #000;
}

.wintext {
	font-size: 56px;
	color: #fff;
}

#reset {
	text-align: center;
	padding: 20px;
	width: 200px;
	border-radius: 10px;
	margin: -120px auto 30px auto;
	font-size: 3em;
	color: #fff;
	background: rgba(0,0,0,0.7);
	box-shadow: 0px 0px 35px #000;
	-webkit-text-stroke: 1px #009b00;
	border: 2px solid #0f0;
}
#reset:hover {
	color: #0f0;
	background-color: rgba(255,255,255,0.9);
}